*.csv filter=lfs diff=lfs merge=lfs -text
data/large.zip filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
nc-ohio_ons_attack_results.txt filter=lfs diff=lfs merge=lfs -text
nc-ohio_randall_attack_results.txt filter=lfs diff=lfs merge=lfs -text
ohio_ons_attack_results.txt filter=lfs diff=lfs merge=lfs -text
ohio_randall_attack_results.txt filter=lfs diff=lfs merge=lfs -text
nc_voter_clean_dob.csv filter=lfs diff=lfs merge=lfs -text
nc_voter_clean.csv filter=lfs diff=lfs merge=lfs -text
nc_voter_matchkeys_ons.csv filter=lfs diff=lfs merge=lfs -text
nc_voter_matchkeys_randall.csv filter=lfs diff=lfs merge=lfs -text
ncvoter_Statewide.txt filter=lfs diff=lfs merge=lfs -text
ohio_voter_clean.csv filter=lfs diff=lfs merge=lfs -text
phio_voter_matchkeys_ons.csv filter=lfs diff=lfs merge=lfs -text
phio_voter_matchkeys_randall.csv filter=lfs diff=lfs merge=lfs -text
ohio_voter.txt filter=lfs diff=lfs merge=lfs -text
ohio_voter_matchkeys_randall.csv filter=lfs diff=lfs merge=lfs -text
ohio_voter_matchkeys_ons.csv filter=lfs diff=lfs merge=lfs -text
